
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="main-title">
        <img class="main-title-icon" src="assets/images/icon.png" alt="">
        <span>WeddMyGuests</span>
      </h2>
    </div>
  </div>
  <div class="row mb">
    <div class="col-md-4">
      <search (search)="onSearch($event)"></search>
    </div>
    <div class="col-md-3">
      <button type="button" class="primary-btn" (click)="openModal(template)"><span class="glyphicon glyphicon-plus"></span> Add me</button>
    </div>
    <div class="col-md-5">
      
      <div class="filters">
        <div class="checkbox">
          <label for="peopleComing" class="">
            <input id="peopleComing" type="checkbox" (change)="onChange($event)" class="btn">
            people coming
          </label>
        </div>
        <div class="checkbox">
          <label for="personWithPartner">
            <input id="personWithPartner" type="checkbox" class="btn" (change)="comingWithPartner($event)">
            with partner
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
 
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">I am (not) going to the wedding</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <add-person-form (addNew)="addPerson($event)"></add-person-form>
          
        </div>
      </ng-template>
      
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      
      
      <people-list [people]='people | searchFilter: name | filterByComing: isComing | filterByPartner: isPartnerComing'></people-list>
    </div>
  </div>
</div>