/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";

@import './styles/variables';
body {
    font-family: 'Open sans';
}
.mb {
    margin-bottom: 10px;
}